<template>
  <div class="container">
    Index page
  </div>
</template>

<script>
  export default {
    head: {
      title: "index!",
    },
    middleware ({redirect}) {
      return redirect('/foo')
    }
  }
</script>
